@page
@model HospiEnCasa.App.Frontend.Pages.ConsultarHistoriaModel
@{
    ViewData["Title"] = "Cons. Historia";
}
<head>
   <link rel="stylesheet" href="~/css/formStyle.css">
 </head>
 <body>
    <h1>CONSULTAR HISTORIA CLÍNICA</h1>
    @Model.paciente.Historia
 </body>
