@page
@model HospiEnCasa.App.Frontend.Pages.DetailPacientesModel
@{
    ViewData["Title"] = "Det. Paciente";
}
<head>
   <link rel="stylesheet" href="~/css/formStyle.css">
 </head>
<body>
    
<h1>DETALLES PACIENTE</h1>
    
    @if(Model.paciente != null){
        string genero;
                switch ((int)@Model.paciente.Genero)
                {
                    case 0:
                        genero = "Masculino";
                        break;
                    case 1:
                        genero = "Femenino";
                        break;
                    default:
                        genero = "Otro";
                        break;

                }
        <form method="post" action="">
        <table>
        <tr>
            <th>Nombre:</th>
            <th>Apellidos:</th>
             <th>Género:</th>
             <th>Teléfono:</th>
             <th>Fecha de Nacimiento:</th>
             <th>Dirección:</th>
             <th>Ciudad:</th>
             <th>Latitud:</th>
             <th>Longitud:</th>
             <th>Familiar Designado:</th>
             <th>Médico Designado:</th>
        </tr>
            
         <tr>
            <td>
                <input class="formulario__input" type="text" asp-for="paciente.Nombre" readonly>
            </td>
            <td>
                <input class="formulario__input" type="text" asp-for="paciente.Apellidos" readonly>
            </td>
            <td><input class="formulario__input" type="text" value="@genero" readonly></td>
        
            <td><input class="formulario__input" type="text" id="phonenumber" required pattern="[0-9]{10}"
                asp-for="paciente.NumeroTelefono"></td>
      
            <td><input class="formulario__input" type="text" asp-for="paciente.FechaNacimiento" readonly></td>
       
            <td>
                <input class="formulario__input" type="text" id="address" required asp-for="paciente.Direccion">
            </td>
                    
            <td><input class="formulario__input" type="text" asp-for="paciente.Ciudad" readonly></td>
                    
            <td><input class="formulario__input" type="text" asp-for="paciente.Latitud" readonly></td>
       
            <td><input class="formulario__input" type="text" asp-for="paciente.Longitud" readonly></td>
            <td style="text-align: center;"><a href="/Formularios/DetailFamiliares?idFamiliar=@Model.familiarDesignado.Id">@Model.familiarDesignado.Nombre @Model.familiarDesignado.Apellidos</a></td>
            <td><select asp-for="paciente.MedicoId" class="form-control" asp-items="ViewBag.MedicoId"></select></td>
        </tr>
    </table>
    <input type="hidden" value="@Model.paciente.Id" asp-for="paciente.Id">
    <button class="formulario__btn" type="submit">Actualizar</button>
    </form>
    }

</body>