@page
@model HospiEnCasa.App.Frontend.Pages.DetailPacientesModel
@{
    ViewData["Title"] = "Det. Paciente";
}
<head>
   <link rel="stylesheet" href="~/css/formStyle.css">
 </head>
<body>
    
<h1>DETALLES PACIENTE</h1>
    <form action="" class="formulario" method="get">
        <label for="idPaciente" class="formulario__label">Id del Paciente:</label>
        <input class="formulario__input" type="text" id="idPaciente" required pattern="[0-9]{1,10}"
            title="Ingrese números. No se permite otro tipo de carácteres." placeholder="123456789"
            name="idPaciente"  asp-for="IdPaciente">
        <input type="submit" value="Consultar" class="formulario__btn">
    </form>
    @if(Model.paciente != null){
        <form method="post" action="">
        <table>
        <tr>
            <th>Nombre:</th>
            <th>Apellidos:</th>
             <th>Género:</th>
             <th>Teléfono:</th>
             <th>Fecha de Nacimiento:</th>
             <th>Dirección:</th>
             <th>Ciudad:</th>
             <th>Latitud:</th>
             <th>Longitud:</th>
        </tr>
            
         <tr>
            <td>
                <input class="formulario__input" type="text" asp-for="paciente.Nombre" readonly>
            </td>
            <td>
                <input class="formulario__input" type="text" asp-for="paciente.Apellidos" readonly>
            </td>
            <td><input class="formulario__input" type="text" asp-for="paciente.Genero" readonly></td>
        
            <td><input class="formulario__input" type="text" id="phonenumber" required pattern="[0-9]{10}"
                asp-for="paciente.NumeroTelefono"></td>
      
            <td><input class="formulario__input" type="text" asp-for="paciente.FechaNacimiento" readonly></td>
       
            <td>
                <input class="formulario__input" type="text" id="address" required asp-for="paciente.Direccion">
            </td>
                    
            <td><input class="formulario__input" type="text" asp-for="paciente.Ciudad" readonly></td>
                    
            <td><input class="formulario__input" type="text" asp-for="paciente.Latitud" readonly></td>
       
            <td><input class="formulario__input" type="text" asp-for="paciente.Longitud" readonly></td>
        </tr>
    </table>
    <input type="hidden" value="@Model.paciente.Id" asp-for="paciente.Id">
    <button class="formulario__btn" type="submit">Actualizar</button>
    </form>
    }

</body>