@page
@model HospiEnCasa.App.Frontend.Pages.ListPacientesModel
@{
    ViewData["Title"] = "Lista Pacientes";
}
<head>
   <link rel="stylesheet" href="~/css/registroFamiliar.css">
 </head>
<main>
      <h1>LISTA DE PACIENTES</h1>
      <form class="formulario">
        <div class="form-col-4">
            <label for="event" class="formulario__label">Ordenar por: </label>
        </div>
        <div class="form-col-8" class="formulario__input">
            <select id="event" required>
                <option value="">Elija una opcion</option>
                <option value="E1">Orden A-Z</option>
                <option value="E2">Orden Z-A</option>
                <option value="E4">Todos</option>
            </select>
        </form>
    </div>
    </main>
    <div>
      <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Direccion</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Lola</td>
            <td>Ruiz Lopez</td>
            <td>8497459489</td>
            <td>calle 80</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Pepito</td>
            <td>Perez A</td>
            <td>0384873719</td>
            <td>calle 55</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Juanito</td>
            <td>Rosales R</td>
            <td>4738377463647</td>
            <td>calle 10</td>
        </tr>
    </table>
    </div>