@page
@model HospiEnCasa.App.Frontend.Pages.RegFamiliaresModel
@{
     ViewData["Title"] = "Reg. Familiares";
}
<head>
   <link rel="stylesheet" href="~/css/formStyle.css">
</head>
<body>
    <h1>REGISTRAR FAMILIARES</h1>
    <form action="" class="formulario" method="get">
        <label for="idPaciente" class="formulario__label">Id del Paciente:</label>
        <input class="formulario__input" type="text" id="idPaciente" required pattern="[0-9]{1,10}"
            title="Ingrese números. No se permite otro tipo de carácteres." placeholder="1234567890"
            name="idPaciente"
            asp-for="IdPaciente"
           >
        
        <input type="submit" value="Consultar" class="formulario__btn">
    </form>
    @if(Model.paciente!=null)
    {
    <form action="" method="post" class="formulario" id="formulario">
         <label for="nombre" class="formulario__label">
            <span>Nombre del Paciente</span>
            <input class="formulario__input" type="text"  id="nombre" asp-for="paciente.Nombre" disabled>
        </label>
        <label for="nombre" class="formulario__label">
            <span>Apellidos del Paciente</span>
            <input class="formulario__input" type="text"  id="nombre" asp-for="paciente.Apellidos" disabled>
        </label>
         <!--Grupo: nombre -->
           <div class="formulario__grupo" id="grupo__nombre">
            <label for="nombre" class="formulario__label">Nombre</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" asp-for="familiarDesignado.Nombre" id="nombre"placeholder="Escribe nombre" required pattern="^[^ ][a-zA-ZÀ-ÿ ]{1,100}[^ ]$"
            title="No se permiten carácteres que no sean letras o espacios. También esta prohibido iniciar o acabar con espacios">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El nombre solo puede tener letras</p>
        </div>

          <!--Grupo: apellidos -->
          <div class="formulario__grupo" id="grupo__apellidos">
            <label for="apellidos" class="formulario__label">Apellidos</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" asp-for="familiarDesignado.Apellidos" id="apellidos"placeholder="Escribe apellidos" required pattern="^[^ ][a-zA-ZÀ-ÿ ]{1,100}[^ ]$"
            title="No se permiten carácteres que no sean letras o espacios. También esta prohibido iniciar o acabar con espacios">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">Los apellidos solo pueden tener letras </p>
        </div>

         <!--Grupo: numero de telefono -->
         <div class="formulario__grupo" id="grupo__numero de telefono">
            <label for="numero de telefono" class="formulario__label">Número de Teléfono</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" asp-for="familiarDesignado.NumeroTelefono" id="Número de teléfono"placeholder="123456789" pattern="[0-9]{10}"
            title="Ingresa 10 dígitos, ni más ni menos. No se permiten tampoco otro tipo de carácteres.">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">Solo se permiten números </p>
        </div>

         <!--Grupo: genero -->
        <label for="genre" class="formulario__label">
            <fieldset>
                <legend>Género</legend>
                <label for="male">
                    <input type="radio" value="masculino" id="male" asp-for="familiarDesignado.Genero">
                    <span>Masculino</span>
                </label>
                <label for="female">
                    <input type="radio" value="femenino" id="female" asp-for="familiarDesignado.Genero">
                    <span>Femenino</span>
                </label>
                <label for="other">
                    <input type="radio" value="otro" id="other" asp-for="familiarDesignado.Genero">
                    <span>Otro</span>
                </label>
            </fieldset>
        </label>
         <!--Grupo: correo electronico -->
         <div class="formulario__grupo" id="grupo__correo electronico">
            <label for="correo electronico" class="formulario__label">Correo Electrónico</label>
            <div class="formulario__grupo-input">
                <input type="email" class="formulario__input" asp-for="familiarDesignado.Correo" id="correo electronico"placeholder="correo@correo.com">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El correo electronico solo pueden tener letras, números, puntos, guiones </p>
        </div>

         <!--Grupo: parentesco -->
         <div class="formulario__grupo" id="grupo__parentesco">
            <label for="parentesco" class="formulario__label">Parentesco</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" asp-for="familiarDesignado.Parentesco" id="parentesco"placeholder="Escribe parentesco" required pattern="^[^ ][a-zA-ZÀ-ÿ ]{1,100}[^ ]$"
            title="No se permiten carácteres que no sean letras o espacios. También esta prohibido iniciar o acabar con espacios">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El parentesco solo pueden tener letras </p>
        </div>

            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error:</b> El formulario tiene que estar completo </p>
            </div>
           
            <input type="hidden" asp-for="familiarDesignado.PacienteId">

                           <button type="submit" class="formulario__btn">Crear</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"> El formulario se guardo exitosamente </p>

           
        </form>
    }
</body>