@page
@model HospiEnCasa.App.Frontend.Pages.RegMedicosModel
@{
    ViewData["Title"] = "Reg. Médicos";
}
<head>
   <link rel="stylesheet" href="~/css/formStyle.css">
</head>
<body>
    <h1>REGISTRAR MÉDICOS</h1>   
      <form action="" class="formulario">
        <label for="id" class="formulario__label">
          <span>Número de identificación</span>
          <input
            type="text"
            name="id"
            id="id"
            required pattern="[0-9]{5,10}"
            title="Ingrese de 5 a 10 dígitos. No se permite otro tipo de carácteres."
            class="formulario__input"
            placeholder="Escribe el Id"
          />
        </label>
        <label for="firstname" class="formulario__label">
          <span>Nombre</span>
          <input
            type="text"
            name="firstname"
            id="firstname"
            required pattern="^[^ ][a-zA-ZÀ-ÿ ]{1,100}[^ ]$"
            title="No se permiten carácteres que no sean letras o espacios. También esta prohibido iniciar o acabar con espacios"
            class="formulario__input"
            placeholder="Escribe nombre"
          />
        </label>
        <label for="lastname" class="formulario__label">
          <span>Apellidos</span>
          <input
            type="text"
            name="lastname"
            id="lastname"
            required
            pattern="^[^ ][a-zA-ZÀ-ÿ ]{1,100}[^ ]$"
            title="No se permiten carácteres que no sean letras o espacios. También esta prohibido iniciar o acabar con espacios"
            class="formulario__input"
            placeholder="Escribe apellidos"
          />
        </label>
        <label for="phonenumber" class="formulario__label">
          <span>Número de teléfono</span>
          <input
            type="text"
            name="phonenumber"
            id="phonenumber"
            required
            pattern="[0-9]{10}"
            title="Ingresa 10 dígitos, ni más ni menos. No se permiten tampoco otro tipo de carácteres."
            class="formulario__input"
            placeholder="123456789"
          />
        </label>
        <label for="genre" class="formulario__label">
          <fieldset>
            <legend>Género</legend>
            <label for="male">
              <input type="radio" name="genre" id="male" />
              <span>Masculino</span>
            </label>
            <label for="female">
              <input type="radio" name="genre" id="female" />
              <span>Femenino</span>
            </label>
            <label for="other">
              <input type="radio" name="genre" id="other" />
              <span>Otro</span>
            </label>
          </fieldset>
        </label>
        <label for="speciality" class="formulario__label">
          <span>Especialidad</span>
          <input 
            type="text" 
            name="speciality" 
            id="speciality" 
            required pattern="^[^][a-zA-ZÀ-ÿ ]{1,100}[^ ]$" 
            title="No se permiten carácteres que no sean letras o espacios. También esta prohibido iniciar o acabar con espacios." 
            class="formulario__input"
            placeholder="Escribe especialidad"
            />
        </label>
        <label for="code" class="formulario__label">
          <span>Codigo</span>
          <input 
            type="text" 
            name="code" 
            id="code" 
            pattern="[0-9]{10}"
            title="Ingresa 10 dígitos, ni más ni menos. No se permiten tampoco otro tipo de carácteres."
            class="formulario__input"
            placeholder="123456789"
           />
        </label>
        <label for="RegisterRethus" class="formulario__label">
            <span>Registro Rethus</span>
            <input 
              type="text" 
              name="RegisterRethus" 
              id="RegisterRethus" 
              pattern="[0-9]{10}"
              title="Ingresa 10 dígitos, ni más ni menos. No se permiten tampoco otro tipo de carácteres."
             class="formulario__input"
             placeholder="12345789"
             />
          </label>
        <button class="formulario__btn" type="submit">Crear</button>
      </form>
  
  </body>