@page
@model HospiEnCasa.App.Frontend.Pages.RegPacientesModel
@{
    ViewData["Title"] = "Reg. Pacientes";
}

<head>
    <link rel="stylesheet" href="~/css/formStyle.css">
</head>

<body>

    <h1>REGISTRAR PACIENTES</h1>
    <form action="" class="formulario" method="post">
        <label for="id" class="formulario__label">
            <span>Número de identificación</span>
            <input class="formulario__input" type="text" id="id" pattern="[0-9]{1,10}"
                title="Ingrese hasta 10 dígitos. No se permite otro tipo de carácteres." placeholder="Escribe el Id" />
        </label>
        <label for="firstname" class="formulario__label">
            <span>Nombres</span>
            <input class="formulario__input" type="text" asp-for="paciente.Nombre" id="firstname" required
                pattern="^[^ ][a-zA-ZÀ-ÿ ]{1,100}[^ ]$"
                title="No se permiten carácteres que no sean letras o espacios. También esta prohibido iniciar o acabar con espacios"
                placeholder="Escribe nombre">
        </label>
        <label for="lastname" class="formulario__label">
            <span>Apellidos</span>
            <input class="formulario__input" type="text" id="lastname" required pattern="^[^ ][a-zA-ZÀ-ÿ ]{1,100}[^ ]$"
                title="No se permiten carácteres que no sean letras o espacios. También esta prohibido iniciar o acabar con espacios"
                placeholder="Escribe Apellidos" asp-for="paciente.Apellidos">
        </label>
        <label for="phonenumber" class="formulario__label">
            <span>Número de teléfono</span>
            <input class="formulario__input" type="text" id="phonenumber" required pattern="[0-9]{10}"
                title="Ingresa 10 dígitos, ni más ni menos. No se permiten tampoco otro tipo de carácteres."
                placeholder="123456789" asp-for="paciente.NumeroTelefono">
        </label>
        <label for="genre" class="formulario__label">
            <fieldset>
                <legend>Género</legend>
                <label for="male">
                    <input type="radio" value="masculino" id="male" asp-for="paciente.Genero">
                    <span>Masculino</span>
                </label>
                <label for="female">
                    <input type="radio" value="femenino" id="female" asp-for="paciente.Genero">
                    <span>Femenino</span>
                </label>
                <label for="other">
                    <input type="radio" value="otro" id="other" asp-for="paciente.Genero">
                    <span>Otro</span>
                </label>
            </fieldset>
        </label>
        <label for="address" class="formulario__label">
            <span>Dirección</span>
            <input class="formulario__input" type="text" id="address" required placeholder="Escribe Dirección"
                asp-for="paciente.Direccion">
        </label>
        <label for="city" class="formulario__label">
            <span>Ciudad</span>
            <input class="formulario__input" type="text" id="city" required pattern="^[^
          ][a-zA-ZÀ-ÿ ]{1,100}[^ ]$" title="No se permiten carácteres que no
          sean letras o espacios. También esta prohibido iniciar o acabar con
          espacios" placeholder="Escribe ciudad" asp-for="paciente.Ciudad">
        </label>
        <label for="birthdate" class="formulario__label">
            <span>Fecha de nacimiento</span>
            <input class="formulario__input" type="date" id="birthdate" required asp-for="paciente.FechaNacimiento">
        </label>
        <label for="lat" class="formulario__label">
            <span>Latitud</span>
            <input class="formulario__input" type="text" id="lat" pattern="-?\d+([,.]\d+)"
                title="Solo se admite números separados por coma o punto" placeholder="Escribe latitud"
                asp-for="paciente.Latitud">
        </label>
        <label for="long" class="formulario__label">
            <span>Longitud</span>
            <input class="formulario__input" type="text" id="long" pattern="-?\d+([,.]\d+)"
                title="Solo se admite números separados por coma." placeholder="Escribe longitud"
                asp-for="paciente.Longitud">
        </label>
            <div class="form-group">
                <label asp-for="paciente.MedicoId" class="control-label"></label>
                <select asp-for="paciente.MedicoId" class="form-control" asp-items="ViewBag.MedicoId"></select>
            </div>
        <button class="formulario__btn" type="submit">Crear</button>
    </form>
</body>
