body{
    /*height: 665px;*/
    background-image: url("../img/Registro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*margin: 0%;
    padding: 0;
    box-sizing: border-box;*/
    font-family: sans-serif;
    font-size: 1.2rem;
    /*line-height: 1.6em;
    color: #333;*/
}
/*h1{
    font-size: 2rem;
    line-height: 1.3em;
}
p {
    margin-bottom: 1.6em;
}
.containermenu{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}*/
.header {
    background: cornflowerblue;
    /*color: aliceblue;
    padding: 2rem 0;

    /*position: fixed;
    left: 0;
    top: 0;
    right: 0;*/
}
/*
.header a {
    color: white;
    text-decoration: none;
}*/
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px ;
}
.navigation ul li a:hover {
    background: darkgray;
}
/*.main {
    padding-top: 12rem;
}*/

.footer {
    background:darkgray ;
    padding: 1rem 0;
    text-align: center;
    margin-top: 9rem;
}
