@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3" style="color: white;
    text-shadow: 8px 5px 6px black;">Bienvenido a HospiEnCasa</h1>
    
</div>
