@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>h1 {text-shadow: 8px 5px 6px black;}</style>

<div class="text-center">
    
    <h1 class="display-3"><font color="white">Bienvenido a HospiEnCasa</h1></font>
    
</div>
