<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospiEnCasa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        * {
            box-sizing: border-box;
            padding: 0%;
            margin: 0%;
        }

        html {
            font-size: 65.2%;
        }

        body {
            background-image: url("img/Registro.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 1.2rem;
            font-family: sans-serif;
            line-height: 1.6em;
        }

        header {
            background-color: cornflowerblue !important;
        }

        img {
            margin: 1rem;
        }

        .logo-nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }

        .navigation ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .navigation ul li {
            display: inline-block;
            margin: 3px;
        }

        .navigation ul li a {
            transition: all 0.4s linear;
            border-radius: 5px;
            color: white !important;

        }

        .navigation ul li a:hover {
            background: darkgray;
            color: black !important;
        }

        .footer {
            background: darkgray;
            padding: 1rem 0;
            text-align: center;
            margin-top: 9rem;
        }
    </style>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index"><img src="../img/HC.png" alt="Logo" height="80px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navigation collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Formularios/RegPacientes">Registrar Pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Formularios/ListPacientes">Lista de Pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Formularios/DetailPacientes">Detalles de
                                Pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Formularios/RegMedicos">Registrar Médicos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Formularios/ListMedicos">Consultar Médicos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Formularios/RegFamiliares">Registrar Familiares</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-page="/Formularios/RegSignosVitales">Registrar Signos Vitales</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RevoluTIC 5.0
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


</body>

</html>
