*{
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

html{
  font-size: 62.5%;
}

h1{
  display:flex;
  justify-content: center;
  margin: 1rem;
}

form{
  display: block;
  width: 20rem;

}

input{
  width:20rem;
}

fieldset > label > input{
  width: 8rem;
  margin-top: 0.5rem;
}

form label input, fieldset{
  margin-bottom: 1rem;
}


button{
  display: flex;
}

// inicio estilos paula
.conteiner{
  width: 400px;
  height: 400px;
}

.form-group{
  display:flex;
  flex-direction: column;
  margin: 10px;
}

table{
  border-collapse: collapse;
  margin: 10px;
  display: flex;
  justify-content: center;
}
  th{
  border: 1px solid black;
  padding: 20px;
  
}

td{
  border: 1px solid black;
  padding: 20px;
}

td:hover{
  background: #EEEEEE;
}
// final estilos paula

